@media (max-width:1280px) {
    .photoHebergements {
        height: 70%;
    } 
}

@media (max-width:768px){
    body  {
        display: flex;
        flex-direction: column;
    }
    /* header */ 
    .register{
		position: absolute;
		top:55px;
        right: 20px;
        padding: 0%;
        font-size: 1.2rem;
	}
    header {
        margin: 4% 0 3em 0;
        display: inline-block;
    }
    /* navbar */
    li:hover {
        border-top: none;
        border-bottom: solid;
        border-bottom-color: #0065FC;
        transition: ease-in-out 0.2s;
    }
	header nav ul li {
		font-size: 1.2rem;
	}
    ul {
        display: flex;
        justify-content: center;
    }
    /****** Barre de recherche *****/
    #info {
        margin-left: 2.3rem;
    }
    /* #recherche-et-filtres h1, p {
        text-align: center;
    } */
    #barreDeRecherche {
        display: flex;
        justify-content: center;
        
    }
    #loupe {
        display: flex;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 5px 5px 5px 5px;
        padding: 2% 2%;
        font-size: 16px;
        cursor: pointer;
    }
    #mapMarker {
        padding: 2% 2%;
    }
    #barreDeRecherche input[type=button] {
        display: none;
    }
    #sousDivFiltres {
        flex-wrap: wrap;
    }
    #p {
        margin-left: 2.3rem;
    }
     /***** Hébergements et populaires *****/
     #container-herbergements {
         background-color: white;
     }
    #hebergements-et-populaires {
        flex-direction: column-reverse;
    }

    /****** Populaires ******/

    #containerPopulaires {
        width: 90%;
        margin: auto;
    }
    /***** Hébergements *****/
    .texteSousImage {
        text-align: center;
    }
    .photoHebergements {
        height: 70%;
    }
    #containerCarteHebergements {
    flex-direction: column;
    padding-left: 0;
    margin: auto;
    }
    #container-herbergements {
        width: 90%;
        margin-top: 1rem;
    }
    .carteHebergements {
        width: 100%;
        height:350px;
        margin-left:0;
        padding-left: 0; */
    }
    /****** Activités *****/
    #ContainerActvites {
        flex-wrap: nowrap;
    }
    #ContainerActvites img {
        height: 160px;
        width: 280px;
    }
    .carteActivites  {
        padding-right: 0;
    }
    .Iles-du-frioul, .parc-longchamp{
        margin-top: 0;
    }
    .lesCalanques {
        padding-bottom: 0;
    }
   .Groupe {
       margin-right: 5rem;
   }

    /***** Footer *****/

 
    #Apropos {
        width: 100px;
    }
    #NosHebergements {
        width: 100px;
    }
    #Assistance {
        width: 100px;
    }
}
@media (max-width:414px) {
    .register {
        top: 22px;
    }
    header {
        margin: 0;
    }
    #TitreRechercheEtFiltres{
        padding-left: 10px;
        padding-right: 70px;
    }
    #containerPopulaires {
        width: 100%;
        border-radius: 0;
    }
    .carteHebergements {
        height: 200px;
    }
    #ContainerActvites {
        flex-direction: column;
    }
    .ActivitesGauche {
        width: 100%;
    }
    .ActivitesDroite {
        width: 100%;
    }
}
@media (max-width:375px){
/* header */ 
.register {
    top: 38px;
}
/* Filtres */
#infoSpan {
    margin-left: .5rem;
    margin-top: .5rem;
    font-size: 13px;
    padding-bottom: .4rem;
}
    .fa-chart-line {
        padding-left: 70px;
        padding-top: 2px;
        font-size: 18px;
    }
     h2 {
        font-size: 18px;
        text-align: center;
    }
    p {
        font-size: 15px;
    }
    .carteHebergements {
        width: 90%;
        margin-top: 1rem;
    }
    .ActivitesDroite {
        width: 100%;
    }
    .ActivitesGauche {
        width: 100%;
    }
    .containerStars {
      text-align: center;
    }
    #afficherPlus {
        padding-left: 2rem;
        padding-top: 1rem;
    }
    #sousDivFiltres {
        margin-top: 2rem;
    }
}
@media (max-width:360px) {
    .register {
        top: 25px;
    }
    .fa-chart-line {
        padding-left: 50px;
    }
    .carteHebergements {
        height: 170px;
        margin-left: auto;
    }
    #ContainerActvites {
        flex-wrap: wrap;
    }
}
@media (max-width:320px) {
    body {
        margin: 0;
        padding: 0;
    }
    /* header */ 
    .register {
        top: 35px ;
    }
    /* Navbar */
    #info {
        margin: 0;
    }
    #infoSpan {
        font-size: 15px;
    }
    #containerPopulaires {
        justify-content: center;
        width: 100%;
        border-radius: 0;
    }
    #container-herbergements {
        background-color: white;
    }
    .carteHebergements {
       height: 140px;
       width: 100%;
    }
    #containerCarteHebergements {
        padding-left: 0;
    }
    #TitreActivites {
        margin-bottom: .5rem;
    }
    .fa-star {
        font-size: 10px;
    }
    p {
        font-size: 12px;
    }
    h1, h2, h3 {
        font-size: 16px;
    }
    #titre-hebergement {
        padding-left: 2rem;
    }
}
.texteSousImage {
    text-align:start;
    padding-top: 0;
}
.texteSousImage p {
    text-align: start;
    margin-left: 0;
}
.containerStars {
    text-align: start;
    padding-top: 0;
}
.texteSousImage h4 {
    padding-top: .2rem;
}
.texteSousImage .containerStars {
    padding-top: 0;
}
#afficherPlus {
    padding-left: 0;
}
#TitreActivites h2 {
    text-align: start;
    padding-left: 1.5rem;
}
#ContainerActvites img {
    height: 100px;
}
#containerFooter p {
   text-align: start;
   padding-left: 1rem;
   font-size: 10px;
}
#containerFooter {
    padding-top: 0;
}
#containerFooter p {
    font-size: 17px;
}
.texteDroite {
    padding-left: 0;
}
.texteDroite p {
    padding-left: 1rem;
}
/* #recherche-et-filtres h1, p {
    margin-left: 0;
} */
.texteDroite .containerStars {
    margin-left: 1rem;
    padding-top: 1rem;
} 
#Apropos {
    padding: 1rem;
    width: 500px;
}
#NosHebergements {
    padding-right: 3rem;
    padding-left: 1rem;
    width: 500px;
}
#Assistance {
    padding: 1rem;
    width: 500px;
}