@media all and (max-width:1024px){
    body  {
        display: flex;
        flex-direction: column;
    }
    /* navbar */
    li:hover {
        border-top: none;
        border-bottom: solid;
        border-bottom-color: #0065FC;
        transition: ease-in-out 0.2s;
    }
    .register{
		position: absolute;
		top:50px;
        right: 20px;
        padding: 0%;
        font-size: 1.2rem;
	}
    header {
        margin: 4% 0 3em 0;
        display: inline-block;
    }
   
	header nav ul li {
		font-size: 1.2rem;
	}
    ul {
        display: flex;
        justify-content: center;
    }
    /***** Section Recherche *****/

    /****** Barre de recherche *****/
    #info{
        padding-left: 4rem;
    }
    #recherche-et-filtres h1, p {
        text-align: center;
    }
    #barreDeRecherche {
        display: flex;
        justify-content: center;
        
    }
    #loupe {
        display: flex;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 5px 5px 5px 5px;
        padding: 1% 1%;
        font-size: 16px;
        cursor: pointer;
    }
    #barreDeRecherche input[type=button] {
        display: none;
    }
    #sousDivFiltres {
        flex-wrap: wrap;
    }
       /***** Hébergements et populaires *****/

    #hebergements-et-populaires {
        flex-direction: column-reverse;
    }

    /****** Populaires ******/

    #containerPopulaires {
        width: 90%;
    }
    #container-pop-icon {
        justify-content: center;
    }
    /***** Hébergements *****/

    .photoHeb {
        height: 70%;
    }
    #containerCarteHebergements {
    flex-direction: column;
    }
    #container-herbergements {
        width: 90%;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .carteHeb {
        width: 70%;
        height:280px;
        margin-left: 5rem;
    }
    /****** Activités *****/
    #ContainerActvites {
        flex-wrap: nowrap;
    }

    #photoLesCalanques {
        height: 150px;
        width: 280px;
    }
    #photoVieuxPort {
        height: 150px;
        width: 280px;
    }
    #VieuxPort {
        margin-left: 3rem; ;
    }

    /***** Footer *****/

    #containerFooter {
        flex-direction: column;
        justify-content: center;
    }
    #Apropos {
        padding-left: 0;
        padding-top: 1rem;
    }
    #NosHebergements {
        padding-left: 0;
        padding-top: 1rem;
    }
    #Assistance {
        padding-left: 0;
        padding-top: 1rem;
    }
}

@media all and (max-width:812px){

    .fa-chart-line {
        padding-left: 70px;
        padding-top: 2px;
        font-size: 18px;
    }
     h2 {
        font-size: 18px;
        text-align: center;
    }
    p {
        font-size: 15px;
    }
    .carteHeb {
        width: 90%;
        margin-left: 0;
        margin-top: 1rem;
    }
    #ActivitesDroite {
        margin-left: 3rem;
    }
    .containerStars {
      text-align: center;
    }
    #afficherPlus {
        padding-left: 2rem;
        padding-top: 1rem;
    }
    ul li .hebergements {
        margin-left: 1rem;
    }
    #sousDivFiltres {
        margin-top: 2rem;
    }
}

@media all and (max-width:740px)
{
    .fa-chart-line {
        padding-left: 50px;
    }
    .carteHeb {
        height: 170px;
    }
    #ContainerActvites {
        flex-wrap: wrap;
    }
}