* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "raleway";
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
}
li {
    list-style-type: none;
    padding: 1.4rem;
}
li:hover {
    border-top: solid;
    border-top-color: #0065FC;
    transition: ease-in-out 0.2s;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:#0065FC ;
}
/********** NAVBAR **********/
header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    justify-content: flex-end;
}
.register {
    color: #0065FC;
    font-weight: bold;
}
nav a {
    padding: 1.4rem;
}
/********** Section Recherche **********/

/****** Barre de recherche *****/

#recherche-et-filtres h1, p {
    padding-top: 0.5rem;
}
#barreDeRecherche {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1.3rem;
}
#loupe{
    display: none;
}
#mapMarker {
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    display: flex;
    padding: 1% 1%;
}
#ville {
    padding: 0 0 0 1rem;
}
#barreDeRecherche input[type=text] {
	border: 1px solid #f2f2f2;
	font-size: 17px;
	font-weight: bold;
}
#barreDeRecherche input[type=button]{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 1% 1%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
/***** Filtres *****/

#divFiltres {
    display: flex;
    margin-top: 2rem;
}

#sousDivFiltres {
    display: flex;
    padding-left: 1rem;
}
.Filtre {
    display: flex;
    border: solid 2px  #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    align-items: center;
    margin: 0.5rem;
}
.Filtre p  {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0.4rem;
    padding-right: 1rem;
}

#p {
    font-size: 17px;
    font-weight: bold;
    padding-top: 1rem;
}
.icon {
    border-radius: 100%;
    background-color: #DEEBFF;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #0065FC;

}
/***** Info *****/
#info {
    display: flex;
    align-items: center;
}
#infoIcon {
    background-color: white;
    border-radius: 100%;
    border: 1px solid #F2F2F2;
    height: 1.5rem;
    width: 1.5rem;
}
.fa-info {
    padding-right: 1rem;
    color: #0065FC;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
}
#info p {
  padding-left: 1rem;
}

/***** images hébergements et populaires *****/
#photoCannebiere {
    object-position: 70% 30%;
}
#photoHotelDuPort {
    object-position: 10% 90%;
}
#photoHotelLesMouettes {
    object-position: 10% 90%;
}
#photoHotelDeLaMer {
    object-position: 30% 70%;
}
#photoAubergeLePanier {
    object-position: 80% 20%;
}
#photoHotelAmina {
    object-position: 40% 60%;
}
#photoHotelLeSoleilDuMatin {
    object-position: 40% 60%;
}
/***** Section Hébergements et populaires *****/
#hebergements-et-populaires {
    display: flex;
    margin-top: 2rem;
}
/***** Hébergements *****/
#container-herbergements {
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    width: 70%;
}
.carteHebergements{
    display: flex;
	flex-direction: column;
	border-radius: 15px;
	background-color: white;
	padding: 0.5%;
	margin: 2% 3% 2% 0;
	width: 28%;
	height:  180px;
	overflow: hidden;
    box-shadow: -7px 10px 20px -5px rgba(0,0,0,0.61);
}
.photoHebergements {
    object-fit: cover;
    position: relative;
    height: 55%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
#titre-hebergement {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

#containerCarteHebergements {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.carteHebergements:hover {
    cursor: pointer;
}
.texteSousImage {
    padding-left: 1rem;
}

.texteSousImage .containerStars {
    padding-top: 0.5rem;
}
#afficherPlus {
    font-weight: bold;
    width: 100px;
    padding:3% 0 5% 4%;
}

/***** Populaires *****/
#container-pop-icon {
    display: flex;
    margin: 5% 5% 5% 10%;
}
.fa-chart-line {
    padding-left: 5rem;
    padding-top: 0.4rem;
    font-size: 20px;
}
#containerPopulaires {
    background-color: #f2f2f2;
    width: 30%;
    margin-left: 2rem;
    border-radius: 20px 20px 20px 20px;
}
.texteSousImage :nth-child(1) {
    font-weight: bold;
}
.cartePopulaires{
    display: flex;
	border-radius: 15px;
    background-color: white;
    padding: 2% 0 0 2%;
    margin: 8% 5% 5% 5%;
    height: 110px;
    box-shadow: -7px 10px 20px -5px rgba(0,0,0,0.61);
}
.photoPopulaires {
    object-fit: cover;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 15px 0 0 15px;
}
.texteDroite {
    padding-left: 1rem;
}
.texteDroite :nth-child(1) {
    font-weight: bold;
}
.texteDroite .containerStars {
    padding-top: 1rem;
}


/****** Stars *****/

.fa-star {
    color: #0065FC;
    font-size: 12px;
}
#la-cannebiere .containerStars :nth-child(5) {
    color:grey;
}
#hotel-les-mouettes .containerStars :nth-child(5) {
    color:grey;
}
#hotel-de-la-mer .containerStars :nth-child(4){
    color: grey;
}
#hotel-de-la-mer .containerStars :nth-child(5){
    color: grey;
}
#auberge-le-panier .containerStars :nth-child(5) {
    color:grey;
}
#au-coeur-de-leau .containerStars :nth-child(5) {
    color: grey;
}

/***** Images Activités *****/

#photoVieuxPort {
    object-position: 20% 80%;
    height: 400px;
    width: 300px;
}
#photoLesCalanques {
    height: 400px;
    width: 300px;
}
/***** Activités *****/
#ContainerActvites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1rem;
}
#ContainerActvites p {
    padding: 10px 0 10px 10px;
}
#TitreActivites {
    padding-top: 3rem;
}
#ColonneGauche {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#ColonneDroite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.carteActivites {
    display: flex;
	flex-direction: column;
    margin-top: 1rem;
    cursor: pointer;
}
#ActivitesGauche{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ActivitesDroite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photoActivites {
    object-fit: cover;
    height: 150px;
    width: 280px;
    border-radius: 15px 15px 0 0;
    box-shadow: -7px 10px 20px -5px rgba(0,0,0,0.61);
}
.TexteSousImageActivites {
    position: relative;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    padding: 0 0 10px 10px;
    text-align: start;
    box-shadow: -7px 10px 20px -5px rgba(0,0,0,0.61);
}
#ColonneGauche {
   padding-left: 3rem;
}
#LesCalanques {
    padding-right: 3rem;
}

/***** Footer *****/

#containerFooter p {
    padding-top: 1rem;
}
#containerFooter {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin-top: 5rem;
}
#Apropos {
    padding-left: 2rem;
}
#NosHebergements {
    padding-left: 15rem;
}
#Assistance {
    padding-left: 20rem;
}
